form{
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 2.5rem;
  font-size: 1.3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 25rem;
  width: 70%;
}

input:focus{
    outline: none !important;
    border:1px solid lightblue;
    box-shadow: 0 0 10px lightblue;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: linear-gradient(#ed6ea0, #ec8c69);
  border: 1px solid linear-gradient(#ed6ea0, #ec8c69);
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: linear-gradient(#e584ab, #e69a7f);
}

.button-container {
  display: flex;
  justify-content: center;
}

.register-form {
  background-color: white;
  padding: 2rem;
  margin: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: block;
  gap: 8px;
  margin: 10px;
}

.input-container > label {
  display: block;
}