#tag1{
    display: block;
position: relative;
left: -20%;
list-style-type: none;
}

#piecename{
   

}

#picture1{
float: left;
margin-bottom: 1rem;
    width: 40%;
    height: 30%;
}

#description{
    display: inline;
    clear: right;
}

#bottomcontent{
    left: 0rem;
    margin-top: 12%;
}



#biddingform{
position: relative;
float: right;
margin: .5rem;
}

#piecename{
left:0;
}

#commentbox{
width: 40%;
}

label{
   
   display: inline;
}

#commentarybox{

    display: block;
    position: center;
    size:70%
    
}
#timer > h3{
    display: block;
    position: relative;
    
    
    
}