.bg-purple {
  background-color: rgb(174, 74, 208);
}

.white {
  color: white;
}

h2 {
  margin-left: 2rem;
}

#image{
width: 100%;

}



#dots{
width: 1rem;
height: 1rem;
  border-radius: 100%;
  margin-left: .5rem;
 
}
#Slider_Container{

margin-left: 25%;
margin-right: 25%;
  width: 50%;
}
hr{

  width: 100%;
}