.bg-purple {
  background-color: rgb(174, 74, 208);
}

.bg-purple-fade {
  background-color: purple;
}

.bg-peach{
  background-color: linear-gradient(#ed6ea0, #ec8c69);
}

.white {
  color: white;
}

h2 {
  margin-left: 2rem;
}

