
.pieceTitle{
    font-size: 1.2rem;
    font:bold;
    color:#ed6ea0;

}
.sellerTitle{
    font-size:.8rem;
    font:bolder;
    color:#ed6ea0;
}
.priceInfo{
    font-size:.75rem;

}
.newPageNavButton{

    width: 100%;
    color:white;
    font:bold;
    border-radius:3%;
}
.itemInfoContainer{
    padding-left: 1.5%;
    /* display: flex; 
    flex-direction: column; 
    align-content: flex-start; */
    /* /background-color:red; */
    height:fit-content;
}
.cardText.leftFloat
{
    float:left;
    clear:left;
}
.rightFloat
{
    float:right;
    clear:right;
}
.itemImage
{
    border-radius:3%;
}






