.viewArea{
    display: flex; 
    align-content:flex-start; 
    flex-wrap:wrap;
    width:100%;
    height:100%;
    justify-content: space-evenly;
    padding-left:15%;
    padding-right:5%;
    
}