
.profileHeader{
    width:100%;
}
.profilePic
{
    display: flex;
    margin-top:2.5%;
    border-radius: 50%;
    margin-left: 2.5%;
    min-width:20%;
    width: auto;
    height: auto;
}
span{
    width:100%;
}
.profileInfoContainer 
{   
    margin-top: 5%;
    width: 100%;
    text-align: left;
    margin-left: 5%;
    display:flex; 
    flex-direction: column;
  }
  .profileHeader
  {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;     
  }
  .nameHeader
  {
    font-size: 3 rem;
    margin-bottom: 0%;
  }
  .username
  {
    font-size: 2 rem; 
    margin-left: 0%; 
    color:gray;
  }
  .bio
  {
    margin-right:25%;
    margin-top:2.5%;
    flex-wrap: wrap;
    font-size: 1.5 rem;
  }
  .ui
  {
    display: flex; 
  }