/* CSS classes */
.App {
  text-align: center;
  font-family: sans-serif;
  text-align: center;
}


.App-logo {
  height: 40vmin;
}

.App-header {
  background: rgb(202, 42, 202);
  height: 8vh;
  position: fixed;
  justify-content: space-between;
  top:0;
  left:0;
  right:0;
  z-index: 4;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  margin-top: 12vh;
}