/* CSS classes */
.App {
  text-align: center;
  font-family: sans-serif;
}


.App-logo {
  height: 40vmin;
}

.App-header {
  height: 8vh;
  position: fixed;
  justify-content: space-between;
  top:0;
  left:0;
  right:0;
  z-index: 4;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  color: linear-gradient(#ed6ea0, #ec8c69);
  background-color: linear-gradient(#ed6ea0, #ec8c69);
}

main {
  margin-top: 12vh;
}